distribution/dspace-tag-files/config/xmlui.dtd

<!ELEMENT xmlui (aspects,themes)>
<!ELEMENT aspects (aspect+)>
<!ELEMENT aspect EMPTY>
<!ATTLIST aspect name CDATA #REQUIRED>
<!ATTLIST aspect description CDATA #IMPLIED>
<!ATTLIST aspect desc CDATA #IMPLIED>
<!ATTLIST aspect path CDATA #REQUIRED>

<!ELEMENT themes (theme*)>
<!ELEMENT theme EMPTY>
<!ATTLIST theme name CDATA #REQUIRED>
<!ATTLIST theme handle CDATA #IMPLIED>
<!ATTLIST theme regex CDATA #IMPLIED>
<!ATTLIST theme path CDATA #REQUIRED>
<!ATTLIST theme id CDATA #IMPLIED>