dspace-api/src/test/data/dspaceFolder/assetstore/oai-pmh/cerif/validation/includes/person-identifiers.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cf="urn:xmlns:org.eurocris.cerif" xmlns:cflink="https://w3id.org/cerif/annotations#"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xml:lang="en"
	xsi:schemaLocation="http://www.w3.org/2001/XMLSchema https://www.w3.org/2001/XMLSchema.xsd">
	<xs:annotation>
		<xs:documentation>This is the XML Schema component for the OpenAIRE CERIF profile 1.1 which specifies the admissible person identifiers.
			For further description please see the main schema file.
			This work is licensed under a Creative Commons Attribution 4.0 International License (http://creativecommons.org/licenses/by/4.0/).
		</xs:documentation>
	</xs:annotation>

	 <xs:include schemaLocation="../includes/cerif-base-identifiers.xsd">
        <xs:annotation>
            <xs:documentation>The basic types of identifiers for use with schemas.</xs:documentation>
        </xs:annotation>
    </xs:include>
	
	<xs:include schemaLocation="../includes/cerif-commons.xsd">
		<xs:annotation>
			<xs:documentation>The common building blocks for any CERIF XML Schema.</xs:documentation>
		</xs:annotation>
	</xs:include>

	<xs:group name="PersonIdentifiers__Group">
		<xs:sequence>

			<xs:element cflink:identifier="true" cflink:link="https://w3id.org/cerif/vocab/IdentifierTypes#ORCID" minOccurs="0" name="ORCID" type="ORCID__Type">
				<xs:annotation>
					<xs:documentation xml:lang="en">The ORCID identifier in case its value is certain or known to be a preferred one.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element cflink:identifier="true" cflink:link="https://w3id.org/cerif/vocab/IdentifierTypes#ORCID https://w3id.org/cerif/vocab/IdentifierValueMode#Alternative" minOccurs="0" maxOccurs="unbounded" name="AlternativeORCID" type="ORCID__Type">
				<xs:annotation>
					<xs:documentation xml:lang="en">The ORCID identifiers in case the value is not certain, e.g. because there is a conflicting statement with a different value. This can also represent deprecated identifiers/profiles that have been merged into a single, current one that is preferred.</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element cflink:identifier="true" cflink:link="https://w3id.org/cerif/vocab/IdentifierTypes#ResearcherID" minOccurs="0" name="ResearcherID" type="ResearcherID__Type">
				<xs:annotation>
					<xs:documentation xml:lang="en">The ResearcherID identifier in case its value is certain or known to be a preferred one.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element cflink:identifier="true" cflink:link="https://w3id.org/cerif/vocab/IdentifierTypes#ResearcherID https://w3id.org/cerif/vocab/IdentifierValueMode#Alternative" minOccurs="0" maxOccurs="unbounded" name="AlternativeResearcherID" type="ResearcherID__Type">
				<xs:annotation>
					<xs:documentation xml:lang="en">The ResearcherID identifier in case the value is not certain, e.g. because there is a conflicting statement with a different value. This can also represent deprecated identifiers/profiles that have been merged into a single, current one that is preferred.</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element cflink:identifier="true" cflink:link="https://w3id.org/cerif/vocab/IdentifierTypes#ScopusAuthorID" minOccurs="0" name="ScopusAuthorID" type="ScopusAuthorID__Type">
				<xs:annotation>
					<xs:documentation xml:lang="en">The Scopus Author ID identifier in case its value is certain or known to be a preferred one.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element cflink:identifier="true" cflink:link="https://w3id.org/cerif/vocab/IdentifierTypes#ScopusAuthorID https://w3id.org/cerif/vocab/IdentifierValueMode#Alternative" minOccurs="0" maxOccurs="unbounded" name="AlternativeScopusAuthorID" type="ScopusAuthorID__Type">
				<xs:annotation>
					<xs:documentation xml:lang="en">The Scopus Author ID identifier in case the value is not certain, e.g. because there is a conflicting statement with a different value. This can also represent deprecated identifiers/profiles that have been merged into a single, current one that is preferred.</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element cflink:identifier="true" cflink:link="https://w3id.org/cerif/vocab/IdentifierTypes#ISNI" minOccurs="0" name="ISNI" type="ISNI__Type">
				<xs:annotation>
					<xs:documentation xml:lang="en">The ISNI identifier in case its value is certain or known to be a preferred one.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element cflink:identifier="true" cflink:link="https://w3id.org/cerif/vocab/IdentifierTypes#ISNI https://w3id.org/cerif/vocab/IdentifierValueMode#Alternative" minOccurs="0" maxOccurs="unbounded" name="AlternativeISNI" type="ISNI__Type">
				<xs:annotation>
					<xs:documentation xml:lang="en">The ISNI identifier in case the value is not certain, e.g. because there is a conflicting statement with a different value. This can also represent deprecated identifiers/profiles that have been merged into a single, current one that is preferred.</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element cflink:identifier="true" cflink:link="https://w3id.org/cerif/vocab/IdentifierTypes#DAI" minOccurs="0" name="DAI" type="DAI__Type">
				<xs:annotation>
					<xs:documentation xml:lang="en">The Digital Author Identifier in case its value is certain or known to be a preferred one.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element cflink:identifier="true" cflink:link="https://w3id.org/cerif/vocab/IdentifierTypes#DAI https://w3id.org/cerif/vocab/IdentifierValueMode#Alternative" minOccurs="0" maxOccurs="unbounded" name="AlternativeDAI" type="DAI__Type">
				<xs:annotation>
					<xs:documentation xml:lang="en">The Digital Author Identifier in case the value is not certain, e.g. because there is a conflicting statement with a different value. This can also represent deprecated identifiers/profiles that have been merged into a single, current one that is preferred.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
<!-- A skeleton for contributing new identifier types
			## ideally please submit a GitHub pull request with branch called 'add-XXX'
			## but we will welcome your contribution no matter how you choose to communicate it to us
			##
			## Part one: the elements: first the straight one, then the alternative one
			## @cflink:link: please replace UUU with a fitting URL that represents the identifier scheme
			<xs:element cflink:identifier="true" cflink:link="UUU" minOccurs="0" name="XXX" type="XXX__Type">
				<xs:annotation>
					<xs:documentation xml:lang="en">The XXX identifier in case its value is certain or known to be a preferred one.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element cflink:identifier="true" cflink:link="UUU https://w3id.org/cerif/vocab/IdentifierValueMode#Alternative" minOccurs="0" maxOccurs="unbounded" name="XXX" type="XXX__Type">
				<xs:annotation>
					<xs:documentation xml:lang="en">The XXX identifier in case the value is not certain, e.g. because there is a conflicting statement with a different value. This can also represent deprecated identifiers/profiles that have been merged into a single, current one that is preferred.</xs:documentation>
				</xs:annotation>
			</xs:element>
 -->

		</xs:sequence>
	</xs:group>

	<xs:complexType name="ORCID__Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">The XML Schema type for the ORCID identifier</xs:documentation>
			<xs:appinfo>
				<cf:Service id="284ef409-28e8-4d73-9437-5d310befa158">
					<cf:Name xml:lang="en">The ORCID identifier</cf:Name>
					<cf:Description xml:lang="en">The service of registering researchers and contributors to research and assigning identifiers to them.  See https://orcid.org for more details.</cf:Description>
				</cf:Service>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cfString__Type">
				<xs:pattern value="https://orcid\.org/0000-000(1-[5-9]|2-[0-9]|3-[0-4])[0-9]{3}-[0-9]{3}[0-9X]">
					<xs:annotation>
						<xs:documentation source="https://support.orcid.org/knowledgebase/articles/116780-structure-of-the-orcid-identifier"/>
					</xs:annotation>
				</xs:pattern>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="ResearcherID__Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">The XML Schema type for the ResearcherID identifier</xs:documentation>
			<xs:appinfo>
				<cf:Service id="65e9b592-c406-4717-ad1c-1a1cad3bd89a">
					<cf:Name xml:lang="en">The ResearcherID identifier</cf:Name>
					<cf:Description xml:lang="en">The service of registering researchers (authors of scholarly publications) and assigning identifiers to them, connected to the Web of Science publication database and citation index.  See http://www.researcherid.com/ for more details.</cf:Description>
				</cf:Service>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cfString__Type">
				<xs:pattern value="[A-Z]-[0-9]{4}-(19|20)[0-9][0-9]">
					<xs:annotation>
						<xs:documentation source="https://www.wikidata.org/wiki/Property:P1053"/>
					</xs:annotation>
				</xs:pattern>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>						

	<xs:complexType name="ScopusAuthorID__Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">The XML Schema type for the Scopus Author ID identifier</xs:documentation>
			<xs:appinfo>
				<cf:Service id="580d5a0c-bdb0-475d-b67a-df62b0aea90b">
					<cf:Name xml:lang="en">The Scopus Author ID identifier</cf:Name>
					<cf:Description xml:lang="en">The service of registering researchers (authors of scholarly publications) and assigning identifiers to them, connected to the Scopus publication database and citation index.  See http://www.researcherid.com/ for more details.</cf:Description>
				</cf:Service>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cfString__Type">
				<xs:pattern value="[0-9]{10,11}">
					<xs:annotation>
						<xs:documentation source="https://www.wikidata.org/wiki/Property:P1153"/>
					</xs:annotation>
				</xs:pattern>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="DAI__Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">The XML Schema type for the Digital Author Identifier</xs:documentation>
			<xs:appinfo>
				<cf:Service id="d622737e-5514-4776-ad76-ee938998b404">
					<cf:Name xml:lang="en">The Digital Author Identifier</cf:Name>
					<cf:Description xml:lang="en">The Digital Author Identifier (DAI) system assigns a unique number to all academic authors as a form of authority control. See https://en.wikipedia.org/wiki/Digital_Author_Identifier for more details.</cf:Description>
				</cf:Service>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cfString__Type">
				<xs:pattern value="info\:eu\-repo/dai/nl/\d{8}[\dxX]">
					<xs:annotation>
						<xs:documentation source="https://wiki.surfnet.nl/display/standards/DAI"/>
					</xs:annotation>
				</xs:pattern>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>

<!-- A skeleton for contributing new identifier types
			## Part two: the XML Schema type for the identifiers
	<xs:complexType name="XXX__Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">The XML Schema type for the XXX identifier</xs:documentation>
			<xs:appinfo>
				## @id: please generate a fresh Version 4 UUID (e.g. through the 'uuidgen | tr A-F a-f' linux or macOS commands or online at https://www.uuidgenerator.net/version4)
				<cf:Service id="">
					## please keep the cf:Name equal to the xs:documentation above (dropping the leading "The XML Schema type for "), per @xml:lang
					<cf:Name xml:lang="en">The XXX identifier</cf:Name>
					## please provide a short description of the scope of the identifier service and supply a pointer to a webpage with more details
					<cf:Description xml:lang="en">The service of registering YYY and assigning identifiers to them.  See ZZZ for more details.</cf:Description>
				</cf:Service>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cfString__Type">
				## please supply a regular expression (in @value) the values shall match
				<xs:pattern value="">
					<xs:annotation>
						## and document (in @source) where you got it from
						<xs:documentation source=""/>
					</xs:annotation>
				</xs:pattern>
				## or at least specify (in @value) the maximum length of the admissible values of the identifier
				<xs:maxLength value=""/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
 -->

</xs:schema>