dspace-api/src/main/java/org/dspace/app/launcher/launcher.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    The contents of this file are subject to the license and copyright
    detailed in the LICENSE and NOTICE files at the root of the source
    tree and available online at

    http://www.dspace.org/license/

-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://dspace.org/launcher" xmlns:tns="http://dspace.org/launcher">
    <xs:element name="commands" type="tns:commandsType"/>
    <xs:complexType name="commandType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="description"/>
            <xs:element type="tns:stepType" name="step" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="stepType">
        <xs:sequence>
            <xs:element type="xs:string" name="class" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:string" name="argument" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="passuserargs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="commandsType">
        <xs:sequence>
            <xs:element type="tns:commandType" name="command" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
