dspace-1.5.2/dspace-lni/dspace-lni-client/src/main/resources/dspace-lni.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://dspace.org/xmlns/lni" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://dspace.org/xmlns/lni" xmlns:intf="http://dspace.org/xmlns/lni" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://lang.java" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="http://dspace.org/xmlns/lni" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://lang.java"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="LNIRemoteException">
    <sequence>
     <element name="cause" nillable="true" type="xsd:anyType"/>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="propfindResponse">

      <wsdl:part name="propfindReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="LNIRemoteException">

      <wsdl:part name="fault" type="impl:LNIRemoteException"/>

   </wsdl:message>

   <wsdl:message name="proppatchRequest">

      <wsdl:part name="uri" type="xsd:string"/>

      <wsdl:part name="doc" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="copyResponse">

      <wsdl:part name="copyReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="proppatchResponse">

      <wsdl:part name="proppatchReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="lookupResponse">

      <wsdl:part name="lookupReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="copyRequest">

      <wsdl:part name="source" type="xsd:string"/>

      <wsdl:part name="destination" type="xsd:string"/>

      <wsdl:part name="depth" type="xsd:int"/>

      <wsdl:part name="overwrite" type="xsd:boolean"/>

      <wsdl:part name="keepProperties" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="lookupRequest">

      <wsdl:part name="handle" type="xsd:string"/>

      <wsdl:part name="bitstreamPid" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="propfindRequest">

      <wsdl:part name="uri" type="xsd:string"/>

      <wsdl:part name="doc" type="xsd:string"/>

      <wsdl:part name="depth" type="xsd:int"/>

      <wsdl:part name="types" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="LNISoapServlet">

      <wsdl:operation name="copy" parameterOrder="source destination depth overwrite keepProperties">

         <wsdl:input message="impl:copyRequest" name="copyRequest"/>

         <wsdl:output message="impl:copyResponse" name="copyResponse"/>

         <wsdl:fault message="impl:LNIRemoteException" name="LNIRemoteException"/>

      </wsdl:operation>

      <wsdl:operation name="lookup" parameterOrder="handle bitstreamPid">

         <wsdl:input message="impl:lookupRequest" name="lookupRequest"/>

         <wsdl:output message="impl:lookupResponse" name="lookupResponse"/>

         <wsdl:fault message="impl:LNIRemoteException" name="LNIRemoteException"/>

      </wsdl:operation>

      <wsdl:operation name="propfind" parameterOrder="uri doc depth types">

         <wsdl:input message="impl:propfindRequest" name="propfindRequest"/>

         <wsdl:output message="impl:propfindResponse" name="propfindResponse"/>

         <wsdl:fault message="impl:LNIRemoteException" name="LNIRemoteException"/>

      </wsdl:operation>

      <wsdl:operation name="proppatch" parameterOrder="uri doc">

         <wsdl:input message="impl:proppatchRequest" name="proppatchRequest"/>

         <wsdl:output message="impl:proppatchResponse" name="proppatchResponse"/>

         <wsdl:fault message="impl:LNIRemoteException" name="LNIRemoteException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DSpaceLNISoapBinding" type="impl:LNISoapServlet">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="copy">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="copyRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dspace.org/xmlns/lni" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="copyResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dspace.org/xmlns/lni" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="LNIRemoteException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="LNIRemoteException" namespace="http://dspace.org/xmlns/lni" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="lookup">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="lookupRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dspace.org/xmlns/lni" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="lookupResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dspace.org/xmlns/lni" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="LNIRemoteException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="LNIRemoteException" namespace="http://dspace.org/xmlns/lni" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="propfind">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="propfindRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dspace.org/xmlns/lni" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="propfindResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dspace.org/xmlns/lni" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="LNIRemoteException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="LNIRemoteException" namespace="http://dspace.org/xmlns/lni" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="proppatch">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="proppatchRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dspace.org/xmlns/lni" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="proppatchResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dspace.org/xmlns/lni" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="LNIRemoteException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="LNIRemoteException" namespace="http://dspace.org/xmlns/lni" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LNISoapServletService">

      <wsdl:port binding="impl:DSpaceLNISoapBinding" name="DSpaceLNI">

         <wsdlsoap:address location="http://localhost/dspace/lni/DSpaceLNI"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
